matf_rg_engine
build/
.DS_Store

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
/cmake-build-debug*
/cmake-build-release*
/.idea/
*.a
/docs/
engine/test/app/test-app
app/APP
.venv
engine/libs/glfw/src